<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
     <!--<section name="TunnelSection" type="ConsoleApplication2.TunnelSection,ConsoleApplication2" />-->
     <section name="MappingPathSection" type="ConsoleApplication2.MappingPathSection,ConsoleApplication2" />
   </configSections>
  <MappingPathSection>
    <batch batchId="ID1" source="c:\folder1">
      <mappings>
        <mapping name="x1" sourcePath="D:\e-Gate2" koolKeeperPath="/Sillee/BLO2" active="false" />
        <mapping name="x2" sourcePath="D:\e-Gate1" koolKeeperPath="/Sillee/BLO2" active="false" />
        <mapping name="x3" sourcePath="D:\e-Gate3" koolKeeperPath="/Sillee/BLO2" active="false" />
      </mappings>
    </batch>
    <batch batchId="ID2" source="c:\folder2">
      <mappings>
        <mapping name="y1" sourcePath="D:\e-Gate\New folder" koolKeeperPath="/PAT/ค่าเช่าใช้เครื่องมือทุ่นแรง/01-ใบเสร็จรับเงิน-ใบกำกับภาษี" active="true" />
        <mapping name="y2" sourcePath="D:\e-Gate2" koolKeeperPath="/Sillee/BLO2" active="false" />
      </mappings>
    </batch>
  </MappingPathSection>
  
   <!--<TunnelSection>
     <host SSHServerHostname="tsg.edssdn.net" username="user" SSHport="22" password="pass" privatekey="" privatekeypassphrase="">
       <tunnels>
         <tunnel name="tfs" localport="8081"  remoteport="8080" destinationserver="tfs2010.dev.com"  />
         <tunnel name="sql" localport="14331"  remoteport="1433" destinationserver="sql2008.dev.com"  />
         <tunnel name="crm2011app" localport="81"  remoteport="80" destinationserver="crm2011betaapp.dev.com"  />
       </tunnels>
     </host>
     <host SSHServerHostname="blade16" username="root" SSHport="22"  password="pass" privatekey="" privatekeypassphrase="">
      <tunnels>
        <tunnel name="vnc" localport="5902"  remoteport="5902" destinationserver="blade1.dev.com" />
      </tunnels>
     </host>
   </TunnelSection>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>